*,
*::before,
*::after {
  box-sizing: border-box;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #f5f6fa;
  font-family: 'Roboto Slab', serif;
}

.booksContainer {
  background-color: #fafafa;
}
