.navContainer {
  background-color: #fff;
  margin-top: 2%;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
}

.navTitle {
  color: #0d95ff;
  margin-left: 4%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

li a {
  color: #000;
}

li a:focus {
  color: #9a9a9a;
}

.logo {
  color: #0290ff;
  font-size: 30px;
}
